{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ author.last_name }} {{ author.first_name }}</h1>

    <p><strong>Last name:</strong> {{ author.last_name }}</p>
    <p><strong>First name:</strong> {{ author.first_name }}</p>
    <p><strong>Date of birthdate:</strong> {{ author.date_of_birth }}</p>
    {% if author.date_of_death %}<p><strong>Date of death:</strong> {{ author.date_of_death }}</p>{% endif %}

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>

        {% for book in author.book_set.all %}
            <p><strong>Author:</strong> <a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></p>
            <p><strong>Summary:</strong> {{ book.summary }}</p>
            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p><strong>Language:</strong> {{ book.language }}</p>
            <p><strong>Genre:</strong> {% for genre in book.genre.all %}
                {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}